body{
    margin: 0px;
    padding: 0px;
    background-color: grey;
}

nav ul li{
    display: inline-block;
}

nav ul{
    background-color: rgb(4, 54, 8);
    padding: 15px 18px;
    margin-top: 0.5px;
    width: 96.4%;
}

nav a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    line-height: 32px;
    padding: 10px 18px;
}

header{
    padding: 10px;
}

.container{
    max-width: 1000px;
    margin: auto;
    background: white;
    padding: 1px;
    color: black;
}

.pagecontainer{
    color: black;
}

footer{
    background-color: rgb(65, 64, 64);
    color: white;
    padding: 5px 18px;
    text-align: center;
    margin-top: 50px;
}